.switch {
  background-image: url(/images/homeintro.GIF);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.switch-out {
  background-image: url("/images/displayback.GIF");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-header-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.new-main-header-search {
  display: flex;
}

.main-pika {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.main-searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
}

.main-search {
  line-height: 2rem;
  background-color: rgba(238, 247, 248, 0.8);
  border-radius: 10px;
  border: solid black 2px;
  font-size: 15px;
}

.main-pika img {
  width: 6vw;
}

.main-head {
  width: auto;
  height: 10vh;
}

.new-main-head {
  width: auto;
  height: 10vh;
  padding-right: 20rem;
}

::placeholder {
  color: black;
  font-size: 15px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}

.row {
  align-items: center;
}

.column-header {
  display: flex;
  justify-content: space-between;
}

.column-header button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.column-header button img {
  height: 50px;
  width: 50px;
}

.poke-row {
  justify-content: center;
  background-color: rgba(220, 38, 38, 0.5);
  border: none;
  border-radius: 10px;
  margin: 60px;
}

.poke-row:nth-child(even) {
  background-color: rgba(96, 143, 243, 0.5);
}

.pokemon {
  text-align: center;
  font-size: 22px;
}

.pokemonimg {
  height: 230px;
  width: 260px;
}

.pokemon p {
  margin: 0;
  padding: 15px 0;
}

table {
  border: none;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 10px;
  margin: 20px;
}

td {
  padding: 0 40px 50px 8px;
  transform: translateY(35%);
}

@media only screen and (max-width: 900px) {
  .new-main-head {
    width: auto;
    height: 10vh;
    padding: 0;
  }

  .new-main-header-search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .poke-row {
    margin: 13px;
  }

  table {
    margin: 5px;
  }

  .main-pika img {
    width: 10vw;
  }
}
